<template>
    <div id="questions">

        <div v-for="(question, index) in questions" v-show="index === current_index_question"
             :class="[index === 0 ? 'lightSpeedIn' : '',
                      index === 1 ? 'slideInLeft' : '',
                      index === 2 ? 'slideInDown' : '', 'question animated']">
            <p>
                {{ question }}
            </p>

            <div class="button_wrap">
                <button @click="nextQuestion" class="btn thumb-up"></button>
                <button @click="fail" class="btn thumb-down"></button>
            </div>
        </div>


        <div v-show="show_success_answer" class="center animated jackInTheBox">
            Мы готовы преоставить вам такую возможность!
        </div>
        <div v-show="show_fail_answer" class="center animated slideInUp">
            Спасибо за внимание
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                questions: [
                    'Хотите получать самый объективный рейтинг доставок суши в Киеве?',
                    'Хотите сравнить реальные фотографии того что вы можете получить при заказе?',
                    'Хотите ли вы оценить качество доставленой еды?',
                ],

                show_success_answer: false,
                show_fail_answer: false,

                current_index_question: 0,
            }
        },
        mounted() {
            console.log('Component mounted.')
        },

        methods: {
            nextQuestion() {
                this.current_index_question++;

                if (this.current_index_question === 3) {
                    this.show_success_answer = true;
                }

            },

            fail() {
                this.current_index_question = -1;
                this.show_fail_answer = true;
            }
        }
    }
</script>

<style scoped>
    #questions {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 60px 0 20px;
    }

    #questions > * {
        height: 200px;

    }

    .question {
        max-width: 320px;
        text-align: center;
    }

    .question p {
        letter-spacing: 1px;
        color: #8b8792;
    }

    .button_wrap {
        margin-top: 20px;
        display: flex;
        justify-content: space-around;
    }

    .thumb-up {
        background-image: url('../../images/thumb.png');
        background-size: 160px;
        height: 50px;
        width: 53px;
        background-position: 2px 1px;
        background-repeat: no-repeat;
        border: none;
        padding: 0;
    }

    .thumb-down {
        background-image: url('../../images/thumb.png');
        background-size: 160px;
        background-repeat: no-repeat;
        border: none;
        height: 49px;
        width: 55px;
        background-position: -110px 0px;
        padding: 0;
    }

    .center {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
</style>