@import "preloader.scss";
@import "header.scss";
@import "first_screen";
@import "our_target";
@import "sushi_bars";
@import "contacts";

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent;
  box-sizing: border-box;
}

ol, ul {
  list-style: none;
}

:focus {
  outline: 0;
}

.clear {
  clear: both;
  line-height: 0;
  font-size: 0;
}

.clearfix:after {
  clear: both;
  content: '.';
  display: block;
  visibility: hidden;
  height: 0;
}

.clearfix:after .test {
  color: red;
}

.clearfix {
  display: inline-block;
}

* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

header,
nav,
section,
article,
aside,
footer {
  display: block;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}


.block-header {
  //display: flex;
  //justify-content: space-between;
  //align-items: center;
  margin-bottom: 8vh;
}

.block-header-title {
  text-transform: uppercase;
  font-family: Helvetica;
  font-size: 50px;
  color: #4A4A4A;
  letter-spacing: 2.5px;
  line-height: 50px;
  text-align: center;
}

.block-header-dot {
  height: 32px;
  width: 32px;
  background: #D8D8D8;
  border-radius: 50%;
}

.block-header-description {
  //width: 75%;
  font-size: 16px;
  color: #4A4A4A;
  letter-spacing: 0;
  line-height: 25px;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}


.mb-none {
  margin-bottom: 0;
}

.mb-xs {
  margin-bottom: 5px;
}

.mb-sm {
  margin-bottom: 10px;
}

.mb-md {
  margin-bottom: 15px;
}

.mt-xs {
  margin-top: 5px;
}
.mt-none {
  margin-top: 0;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.max-w-120 {
  max-width: 120px;
}