#contacts {
  //height: 100vh;
}

.d-flex {
  display: -ms-flexbox!important;
  display: flex!important;
}

.justify-content-center {
  -ms-flex-pack: center;
  justify-content: center;
}

footer.page-footer {
  bottom: 0;
  color: #fff;
}

.font-small {
  font-size: 1.2rem;
}

.indigo {
  background-color: #3f51b5;
}

footer.page-footer .footer-copyright {
  overflow: hidden;
  background-color: rgba(0,0,0,.2);
  color: rgba(255,255,255,.6);
}

.pt-5, .py-5 {
  padding-top: 3rem;
}

.mb-3, .my-3 {
  margin-bottom: 1rem;
}

.font-weight-bold {
   font-weight: 700;
}



footer.page-footer .footer-copyright {
  font-size: 1.2rem;
  overflow: hidden;
  background-color: rgba(0,0,0,.2);
  color: rgba(255,255,255,.6);
}

footer.page-footer a {
  color: #fff;
}

.pb-3, .py-3 {
  padding-bottom: 1rem;
}

.pt-3, .py-3 {
  padding-top: 1rem;
}

#contacts {

  input {
    outline: none;
    border: none;
  }

  textarea {
    outline: none;
    border: none;
  }

  textarea:focus, input:focus {
    border-color: transparent !important;
  }

  //input:focus::-webkit-input-placeholder { color:transparent; }
  //input:focus:-moz-placeholder { color:transparent; }
  //input:focus::-moz-placeholder { color:transparent; }
  //input:focus:-ms-input-placeholder { color:transparent; }
  //
  //textarea:focus::-webkit-input-placeholder { color:transparent; }
  //textarea:focus:-moz-placeholder { color:transparent; }
  //textarea:focus::-moz-placeholder { color:transparent; }
  //textarea:focus:-ms-input-placeholder { color:transparent; }

  input::-webkit-input-placeholder {
    color: #555555;
    color: rgba(255,255,255,.6);
  }
  input:-moz-placeholder {
    color: #555555;
    color: rgba(255,255,255,.6);

  }
  input::-moz-placeholder {
    color: #555555;
    color: rgba(255,255,255,.6);

  }
  input:-ms-input-placeholder {
    color: #555555;
    color: rgba(255,255,255,.6);

  }

  textarea::-webkit-input-placeholder {
    color: #555555;
    color: rgba(255,255,255,.6);

  }
  textarea:-moz-placeholder {
    color: #555555;
    color: rgba(255,255,255,.6);

  }
  textarea::-moz-placeholder {
    color: #555555;
    color: rgba(255,255,255,.6);

  }
  textarea:-ms-input-placeholder {
    color: #555555;
    color: rgba(255,255,255,.6);

  }

  /*---------------------------------------------*/
  button {
    outline: none !important;
    border: none;
    background: transparent;
  }

  button:hover {
    cursor: pointer;
  }

  /*---------------------------------------------*/
  .container {
    max-width: 1200px;
  }

  /*==================================================================
  [ Form ]*/

  .contact100-form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 68px;
  }

  .contact100-form-title {
    display: block;
    width: 100%;
    font-size: 39px;
    //color: #333333;
    color: #fff;
    line-height: 1.2;
    text-align: left;
    padding-bottom: 44px;
  }

  /*------------------------------------------------------------------
  [ Input ]*/

  .wrap-input100 {
    width: 100%;
    position: relative;
    border-bottom: 2px solid #d9d9d9;
    padding-bottom: 13px;
    margin-bottom: 65px;
  }

  .rs1-wrap-input100 {
    width: calc((100% - 30px) / 2);
  }

  .label-input100 {
    font-size: 15px;
    color: #fcf8e3;
    line-height: 1.5;
    padding-left: 5px;
  }

  .input100 {
    display: block;
    width: 100%;
    background: transparent;
    font-size: 18px;
    //color: #555555;
    color: rgba(255,255,255,.6);
    line-height: 1.2;
    padding: 0 5px;
  }

  .focus-input100 {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
  }

  .focus-input100::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;

    background: #ff4b5a;
  }


  /*---------------------------------------------*/
  input.input100 {
    height: 40px;
  }


  textarea.input100 {
    min-height: 110px;
    padding-top: 9px;
    padding-bottom: 13px;
  }


  .input100:focus + .focus-input100::before {
    width: 100%;
  }

  .has-val.input100 + .focus-input100::before {
    width: 100%;
  }


  /*------------------------------------------------------------------
  [ Button ]*/
  .container-contact100-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    margin-top: -25px;
  }

  .contact100-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 160px;
    height: 50px;
    background-color: #ff4b5a;
    border-radius: 25px;
    position: relative;

    font-size: 16px;
    color: #fff;
    line-height: 1.2;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;

    box-shadow: 0 10px 30px 0px rgba(255, 75, 90, 0.5);
    -moz-box-shadow: 0 10px 30px 0px rgba(255, 75, 90, 0.5);
    -webkit-box-shadow: 0 10px 30px 0px rgba(255, 75, 90, 0.5);
    -o-box-shadow: 0 10px 30px 0px rgba(255, 75, 90, 0.5);
    -ms-box-shadow: 0 10px 30px 0px rgba(255, 75, 90, 0.5);
  }

  .contact100-form-btn i {
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }

  .contact100-form-btn:hover {
    background-color: #333333;
    box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
    -moz-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
    -webkit-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
    -o-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
    -ms-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
  }

  .contact100-form-btn:hover i {
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
    transform: translateX(10px);

  }


  /*------------------------------------------------------------------
  [ Responsive ]*/


  @media (max-width: 768px) {
    .rs1-wrap-input100 {
      width: 100%;
    }
  }


  /*------------------------------------------------------------------
  [ Alert validate ]*/

  .validate-input {
    position: relative;
  }

  .alert-validate::before {
    content: attr(data-validate);
    position: absolute;
    max-width: 70%;
    background-color: #fff;
    border: 1px solid #c80000;
    border-radius: 2px;
    padding: 4px 25px 4px 10px;
    top: 58%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 2px;
    pointer-events: none;

    color: #c80000;
    font-size: 13px;
    line-height: 1.4;
    text-align: left;

    visibility: hidden;
    opacity: 0;

    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    transition: opacity 0.4s;
  }

  .alert-validate::after {
    //content: "\f06a";
    //font-family: FontAwesome;
    content: "\0021";
    display: block;
    background-color: #ccc;
    border-radius: 20px;
    padding: 0 9px;
    position: absolute;
    color: #c80000;
    font-size: 16px;
    top: 58%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 4px;
  }

  .alert-validate:hover:before {
    visibility: visible;
    opacity: 1;
  }

  @media (max-width: 992px) {
    .alert-validate::before {
      visibility: visible;
      opacity: 1;
    }
  }
}



.contact100-form-btn.loading {
  border-radius: 50px;
  width: 50px;
  font-size:0px;
}

.spinner {
  display: block;
  width: 34px;
  height: 34px;
  position: absolute;
  top: 8px;
  margin:0 auto;
  left:0;
  right:0;
  background: transparent;
  box-sizing: border-box;
  border-top: 4px solid white;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-radius: 100%;
  animation-delay:0.5s;
  animation: spin 0.6s ease-out infinite;
  transition:all ease 0.5s;
}

@keyframes spin {
  100% {transform: rotate(360deg)}
}