#main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./../images/hero-image.png");
  background-repeat: no-repeat;
  background-position: 50vw 50%;
  overflow: hidden;


  @media screen and (max-width: 768px) {
    background-image: none;
  }

  & .description {
    width: 37vw;

    @media screen and (max-width: 768px) {
      width: auto;
      text-align: left;
      font-size: 15px;
      max-width: 320px;
      padding-top: 10vh;
      margin: 0 auto;
      position: relative;
      z-index: 2;
    }

    & h1 {
      margin-bottom: 25px;
    }
  }

  & .img1 {
    display: none;

    @media screen and (max-width: 768px) {
      background-image: url("./../images/hero-ginger.png");
      width: 90px;
      height: 90px;
      background-size: cover;
      position: absolute;
      left: 0;
      top: 15vh;
      display: block;
    }
  }

  & .img2 {
    display: none;

    @media screen and (max-width: 768px) {
      background-image: url("./../images/hero-set2.png");
      width: 150px;
      height: 105px;
      background-size: cover;
      position: absolute;
      right: 0;
      top: 20vh;
      display: block;
    }
  }

  & .img3 {
    display: none;

    @media screen and (max-width: 768px) {
      background-image: url("./../images/hero-set.png");
      width: 150px;
      height: 125px;
      background-size: cover;
      position: absolute;
      left: 0;
      bottom: 15vh;
      display: block;
    }
  }

  & .img4 {
    display: none;

    @media screen and (max-width: 768px) {
      background-image: url("./../images/hero-vasabi.png");
      width: 90px;
      height: 90px;
      background-size: cover;
      position: absolute;
      right: 0;
      bottom: 5vh;
      display: block;
    }
  }
}

.switch {
  margin: 4rem auto;
  width: 24rem;
  position: relative;
  input {
    position: absolute;
    top: 0;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
    &:checked {
      z-index: 1;
      + label {
        opacity: 1;
        cursor: default;
      }
    }
    &:not(:checked) + label:hover {
      opacity: 0.5;
    }
  }
  label {
    color: #fff;
    opacity: 0.33;
    transition: opacity 0.25s ease;
    cursor: pointer;
  }
  .toggle-outside {
    height: 100%;
    border-radius: 2rem;
    padding: 0.25rem;
    overflow: hidden;
    transition: 0.25s ease all;
  }
  .toggle-inside {
    border-radius: 5rem;
    background: #ef0000;
    position: absolute;
    transition: 0.25s ease all;
  }
}

/* main styles */

.switch--vertical {
  width: 12rem;
  height: 6rem;
  input {
    height: 100%;
    width: 3rem;
    right: 0;
    margin: 0;
  }
  label {
    font-size: 1.5rem;
    line-height: 3rem;
    display: block;
    width: 8rem;
    height: 50%;
    margin: 0;
    text-align: center;
  }
  .toggle-outside {
    background: transparent;
    border: 1px solid #ef0000;
    position: absolute;
    //width: 3rem;
    //height: 100%;
    width: 3.2rem;
    height: 105%;
    right: 0;
    top: 0;
  }
  .toggle-inside {
    height: 2.5rem;
    left: 0.25rem;
    top: 0.25rem;
    width: 2.5rem;
  }
  input {
    &:checked ~ .toggle-outside .toggle-inside {
      top: 0.25rem;
    }
    ~ input:checked ~ .toggle-outside .toggle-inside {
      top: 3.25rem;
    }
  }
}

.switch--no-label {
  label {
    width: 0;
    height: 0;
    visibility: hidden;
    overflow: hidden;
  }
  input {
    &:checked ~ .toggle-outside .toggle-inside {
      background: #ef0000;
      border: 1px solid rgba(0, 0, 0, 0.2);
    }
    ~ input:checked ~ .toggle-outside {
      background: transparent;
      .toggle-inside {
        background: #ef0000;
      }
    }
  }
  &.switch--vertical {
    width: 3rem;
  }
  &.switch--horizontal {
    width: 6rem;
    input, .toggle-outside {
      left: 0;
    }
  }
}

.switch--expanding-inner {
  input:checked + label:hover ~ .toggle-outside .toggle-inside {
    height: 2.5rem;
    width: 2.5rem;
  }
  &.switch--horizontal input:hover ~ {
    .toggle-outside .toggle-inside {
      width: 3.5rem;
    }
    input:checked ~ .toggle-outside .toggle-inside {
      left: 2.25rem;
    }
  }
  &.switch--vertical input:hover ~ {
    .toggle-outside .toggle-inside {
      height: 3.5rem;
    }
    input:checked ~ .toggle-outside .toggle-inside {
      top: 2.25rem;
    }
  }
}

/* mixin */