
#rt_header nav #navigation .navbar.navbar-default.reveal-menu-home.sticky-nav,
#rt_header nav #navigation .sticky-nav-white {
  padding: 10px 0;
  background-color: white;
  transition: all 1s;
  border-bottom: 1px solid #dedede;
}

#rt_header nav #navigation .reveal-menu-home {
  background-color: transparent;
}


#rt_header nav #navigation .reveal-menu-white {
  background: #FFFFFF ;
  position: static ;
  margin-bottom: 0;
  border-bottom: 1px solid #dedede;

}

#rt_header nav #navigation .navbar .logo a {
  color: #ff1e0a;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    text-decoration: none;
  }
}

#rt_header nav #navigation .reveal-menu-blog {
  background: #FFFFFF ;
  padding: 10px 0;
  border-bottom: 1px solid #dedede;


  & ul.nav.navbar-nav li a {
    color: #444444 ;
  }
}

#rt_header nav #navigation .navbar.navbar-default {
  padding: 35px 0 10px;
  border-bottom: 0;

  .navbar-collapse ul.nav.navbar-nav {
    text-align: center;

    li {
      padding: 0;
      margin-bottom: 0;
      margin-left: 20px;

      &:before {
        display: none;
      }

      a {
        font-size: 14px;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        color: #777777;
        padding: 0;
        line-height: 43px;
        position: relative;
        letter-spacing: 1px;
        background: transparent;

        &:focus:before,
        &:hover:before {
          transform: scaleX(1);
          transform-origin: left top 0;
        }
        @media only screen and (min-width: 991px) and (max-width: 1200px) {
          font-size: 13px;
        }
      }
    }
  }
}

#rt_header nav #navigation .navbar.navbar-default .navbar-collapse ul.nav.navbar-nav li.active a {
  color: #db0200;
}


.foodcheck_logo {
  height: 16px;
}

.navbar-toggle {
  margin: 0 0 5px 0;
}

@media screen and (max-width: 768px){
}
