#our_target {
   min-height: 100vh;
  padding-top: 70px;
 }


.sushi-set-img {
  margin-bottom: 5vh;
}


#our_target .thumbnail {

  border: none;

  img {
    height: 20vh;
  }

  .caption {
    font-size: 16px;
    text-align: center;
  }
}



