#sushi_bars {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.brand {
  width: 130px;
  height: 150px;
  background: center/contain no-repeat;
  margin: 40px;

  &:nth-child(1) {
    background-image: url('../images/bars/murakami.png');
    animation: a1 4s infinite;
  }

  &:nth-child(2) {
    background-image: url('../images/bars/yoshifujiwara.svg');
    animation: a1 7s infinite;
  }

  &:nth-child(3) {
    background-image: url('../images/bars/tanuki.png');
    animation: a1 6s infinite;
  }

  &:nth-child(4) {
    background-image: url('../images/bars/yakitoria.png');
    animation: a1 5s infinite;
  }

  &:nth-child(5) {
    background-image: url('../images/bars/ninjasushi.svg');
    animation: a1 7s infinite;
  }

  &:nth-child(6) {
    background-image: url('../images/bars/sushi33.svg');
    animation: a1 6s infinite;
  }

  &:nth-child(7) {
    background-image: url('../images/bars/rollhouse.svg');
    animation: a1 4s infinite;
  }

  &:nth-child(8) {
    background-image: url('../images/bars/ilikesushi.png');
    animation: a1 6s infinite;
  }
  &:nth-child(9) {
    background-image: url('../images/bars/foodmiles.png');
    animation: a1 7s infinite;
  }
  &:nth-child(10) {
    background-image: url('../images/bars/sushimaster.svg');
    animation: a1 5s infinite;
  }
  &:nth-child(11) {
    background-image: url('../images/bars/sushiya.png');
    animation: a1 6s infinite;
  }

  @media screen and (max-width: 630px) {
    width: 100px;
    height: 100px;
    margin: 30px;
  }

  @media screen and (max-width: 420px) {
    width: 80px;
    height: 80px;
    margin: 20px;
  }

}

@media screen and (max-width: 630px) {
  .brand {

  }
}

@keyframes a1 {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
