.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 9999;
}

.loading-text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  width: 100%;
  height: 100px;
  line-height: 100px;
}

.loading-text span {
  display: inline-block;
  margin: 0 5px;
  color: #fff;
  font-family: 'Quattrocento Sans', sans-serif;
}

.loading-text span:nth-child(1) {
  -webkit-filter: blur(0px);
  filter: blur(0px);
  -webkit-animation: blur-text 1.5s 0s infinite linear alternate;
  animation: blur-text 1.5s 0s infinite linear alternate;
}

.loading-text span:nth-child(2) {
  -webkit-filter: blur(0px);
  filter: blur(0px);
  -webkit-animation: blur-text 1.5s 0.2s infinite linear alternate;
  animation: blur-text 1.5s 0.2s infinite linear alternate;
}

.loading-text span:nth-child(3) {
  -webkit-filter: blur(0px);
  filter: blur(0px);
  -webkit-animation: blur-text 1.5s 0.4s infinite linear alternate;
  animation: blur-text 1.5s 0.4s infinite linear alternate;
}

.loading-text span:nth-child(4) {
  -webkit-filter: blur(0px);
  filter: blur(0px);
  -webkit-animation: blur-text 1.5s 0.6s infinite linear alternate;
  animation: blur-text 1.5s 0.6s infinite linear alternate;
}

.loading-text span:nth-child(5) {
  -webkit-filter: blur(0px);
  filter: blur(0px);
  -webkit-animation: blur-text 1.5s 0.8s infinite linear alternate;
  animation: blur-text 1.5s 0.8s infinite linear alternate;
}

.loading-text span:nth-child(6) {
  -webkit-filter: blur(0px);
  filter: blur(0px);
  -webkit-animation: blur-text 1.5s 1s infinite linear alternate;
  animation: blur-text 1.5s 1s infinite linear alternate;
}

.loading-text span:nth-child(7) {
  -webkit-filter: blur(0px);
  filter: blur(0px);
  -webkit-animation: blur-text 1.5s 1.2s infinite linear alternate;
  animation: blur-text 1.5s 1.2s infinite linear alternate;
}

@-webkit-keyframes blur-text {
  0% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }

  100% {
    -webkit-filter: blur(4px);
    filter: blur(4px);
  }
}

@keyframes blur-text {
  0% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }

  100% {
    -webkit-filter: blur(4px);
    filter: blur(4px);
  }
}

#rt_header nav #navigation .navbar.navbar-default.reveal-menu-home.sticky-nav,
#rt_header nav #navigation .sticky-nav-white {
  padding: 10px 0;
  background-color: white;
  -webkit-transition: all 1s;
  transition: all 1s;
  border-bottom: 1px solid #dedede;
}

#rt_header nav #navigation .reveal-menu-home {
  background-color: transparent;
}

#rt_header nav #navigation .reveal-menu-white {
  background: #FFFFFF;
  position: static;
  margin-bottom: 0;
  border-bottom: 1px solid #dedede;
}

#rt_header nav #navigation .navbar .logo a {
  color: #ff1e0a;
  text-decoration: none;
  text-transform: uppercase;
}

#rt_header nav #navigation .navbar .logo a:hover {
  text-decoration: none;
}

#rt_header nav #navigation .reveal-menu-blog {
  background: #FFFFFF;
  padding: 10px 0;
  border-bottom: 1px solid #dedede;
}

#rt_header nav #navigation .reveal-menu-blog ul.nav.navbar-nav li a {
  color: #444444;
}

#rt_header nav #navigation .navbar.navbar-default {
  padding: 35px 0 10px;
  border-bottom: 0;
}

#rt_header nav #navigation .navbar.navbar-default .navbar-collapse ul.nav.navbar-nav {
  text-align: center;
}

#rt_header nav #navigation .navbar.navbar-default .navbar-collapse ul.nav.navbar-nav li {
  padding: 0;
  margin-bottom: 0;
  margin-left: 20px;
}

#rt_header nav #navigation .navbar.navbar-default .navbar-collapse ul.nav.navbar-nav li:before {
  display: none;
}

#rt_header nav #navigation .navbar.navbar-default .navbar-collapse ul.nav.navbar-nav li a {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  color: #777777;
  padding: 0;
  line-height: 43px;
  position: relative;
  letter-spacing: 1px;
  background: transparent;
}

#rt_header nav #navigation .navbar.navbar-default .navbar-collapse ul.nav.navbar-nav li a:focus:before,
#rt_header nav #navigation .navbar.navbar-default .navbar-collapse ul.nav.navbar-nav li a:hover:before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left top 0;
          transform-origin: left top 0;
}

@media only screen and (min-width: 991px) and (max-width: 1200px) {
  #rt_header nav #navigation .navbar.navbar-default .navbar-collapse ul.nav.navbar-nav li a {
    font-size: 13px;
  }
}

#rt_header nav #navigation .navbar.navbar-default .navbar-collapse ul.nav.navbar-nav li.active a {
  color: #db0200;
}

.foodcheck_logo {
  height: 16px;
}

.navbar-toggle {
  margin: 0 0 5px 0;
}

#main {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url(/images/hero-image.png?985c150ba4aa072ebb6a5dd7c4bf8666);
  background-repeat: no-repeat;
  background-position: 50vw 50%;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  #main {
    background-image: none;
  }
}

#main .description {
  width: 37vw;
}

@media screen and (max-width: 768px) {
  #main .description {
    width: auto;
    text-align: left;
    font-size: 15px;
    max-width: 320px;
    padding-top: 10vh;
    margin: 0 auto;
    position: relative;
    z-index: 2;
  }
}

#main .description h1 {
  margin-bottom: 25px;
}

#main .img1 {
  display: none;
}

@media screen and (max-width: 768px) {
  #main .img1 {
    background-image: url(/images/hero-ginger.png?8308ca0e1572652066c6b12ee71d9fc7);
    width: 90px;
    height: 90px;
    background-size: cover;
    position: absolute;
    left: 0;
    top: 15vh;
    display: block;
  }
}

#main .img2 {
  display: none;
}

@media screen and (max-width: 768px) {
  #main .img2 {
    background-image: url(/images/hero-set2.png?390c9d8222d3195f33031e1ba2a7b1cd);
    width: 150px;
    height: 105px;
    background-size: cover;
    position: absolute;
    right: 0;
    top: 20vh;
    display: block;
  }
}

#main .img3 {
  display: none;
}

@media screen and (max-width: 768px) {
  #main .img3 {
    background-image: url(/images/hero-set.png?951dc22339ddef24ccf66366c980bb9f);
    width: 150px;
    height: 125px;
    background-size: cover;
    position: absolute;
    left: 0;
    bottom: 15vh;
    display: block;
  }
}

#main .img4 {
  display: none;
}

@media screen and (max-width: 768px) {
  #main .img4 {
    background-image: url(/images/hero-vasabi.png?c06b5e73c5e2ada7fb6bbe9045dbbb6a);
    width: 90px;
    height: 90px;
    background-size: cover;
    position: absolute;
    right: 0;
    bottom: 5vh;
    display: block;
  }
}

.switch {
  margin: 4rem auto;
  width: 24rem;
  position: relative;
}

.switch input {
  position: absolute;
  top: 0;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
}

.switch input:checked {
  z-index: 1;
}

.switch input:checked + label {
  opacity: 1;
  cursor: default;
}

.switch input:not(:checked) + label:hover {
  opacity: 0.5;
}

.switch label {
  color: #fff;
  opacity: 0.33;
  -webkit-transition: opacity 0.25s ease;
  transition: opacity 0.25s ease;
  cursor: pointer;
}

.switch .toggle-outside {
  height: 100%;
  border-radius: 2rem;
  padding: 0.25rem;
  overflow: hidden;
  -webkit-transition: 0.25s ease all;
  transition: 0.25s ease all;
}

.switch .toggle-inside {
  border-radius: 5rem;
  background: #ef0000;
  position: absolute;
  -webkit-transition: 0.25s ease all;
  transition: 0.25s ease all;
}

/* main styles */

.switch--vertical {
  width: 12rem;
  height: 6rem;
}

.switch--vertical input {
  height: 100%;
  width: 3rem;
  right: 0;
  margin: 0;
}

.switch--vertical label {
  font-size: 1.5rem;
  line-height: 3rem;
  display: block;
  width: 8rem;
  height: 50%;
  margin: 0;
  text-align: center;
}

.switch--vertical .toggle-outside {
  background: transparent;
  border: 1px solid #ef0000;
  position: absolute;
  width: 3.2rem;
  height: 105%;
  right: 0;
  top: 0;
}

.switch--vertical .toggle-inside {
  height: 2.5rem;
  left: 0.25rem;
  top: 0.25rem;
  width: 2.5rem;
}

.switch--vertical input:checked ~ .toggle-outside .toggle-inside {
  top: 0.25rem;
}

.switch--vertical input ~ input:checked ~ .toggle-outside .toggle-inside {
  top: 3.25rem;
}

.switch--no-label label {
  width: 0;
  height: 0;
  visibility: hidden;
  overflow: hidden;
}

.switch--no-label input:checked ~ .toggle-outside .toggle-inside {
  background: #ef0000;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.switch--no-label input ~ input:checked ~ .toggle-outside {
  background: transparent;
}

.switch--no-label input ~ input:checked ~ .toggle-outside .toggle-inside {
  background: #ef0000;
}

.switch--no-label.switch--vertical {
  width: 3rem;
}

.switch--no-label.switch--horizontal {
  width: 6rem;
}

.switch--no-label.switch--horizontal input,
.switch--no-label.switch--horizontal .toggle-outside {
  left: 0;
}

.switch--expanding-inner input:checked + label:hover ~ .toggle-outside .toggle-inside {
  height: 2.5rem;
  width: 2.5rem;
}

.switch--expanding-inner.switch--horizontal input:hover ~ .toggle-outside .toggle-inside {
  width: 3.5rem;
}

.switch--expanding-inner.switch--horizontal input:hover ~ input:checked ~ .toggle-outside .toggle-inside {
  left: 2.25rem;
}

.switch--expanding-inner.switch--vertical input:hover ~ .toggle-outside .toggle-inside {
  height: 3.5rem;
}

.switch--expanding-inner.switch--vertical input:hover ~ input:checked ~ .toggle-outside .toggle-inside {
  top: 2.25rem;
}

/* mixin */

#our_target {
  min-height: 100vh;
  padding-top: 70px;
}

.sushi-set-img {
  margin-bottom: 5vh;
}

#our_target .thumbnail {
  border: none;
}

#our_target .thumbnail img {
  height: 20vh;
}

#our_target .thumbnail .caption {
  font-size: 16px;
  text-align: center;
}

#sushi_bars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.brand {
  width: 130px;
  height: 150px;
  background: center/contain no-repeat;
  margin: 40px;
}

.brand:nth-child(1) {
  background-image: url(/images/murakami.png?e54f6caffd049cb85817a22fb20b8da6);
  -webkit-animation: a1 4s infinite;
          animation: a1 4s infinite;
}

.brand:nth-child(2) {
  background-image: url(/images/yoshifujiwara.svg?e21614f5d051f45c718dc74f6347b3de);
  -webkit-animation: a1 7s infinite;
          animation: a1 7s infinite;
}

.brand:nth-child(3) {
  background-image: url(/images/tanuki.png?263246ad2a6b890c70671ce37fcc7ee2);
  -webkit-animation: a1 6s infinite;
          animation: a1 6s infinite;
}

.brand:nth-child(4) {
  background-image: url(/images/yakitoria.png?87ff43c2d0bb4f8b329ff732262131ec);
  -webkit-animation: a1 5s infinite;
          animation: a1 5s infinite;
}

.brand:nth-child(5) {
  background-image: url(/images/ninjasushi.svg?4b5828a0d304eb272c6709f8dccdab55);
  -webkit-animation: a1 7s infinite;
          animation: a1 7s infinite;
}

.brand:nth-child(6) {
  background-image: url(/images/sushi33.svg?5a824e1a60751878f51c4985bf8e94b9);
  -webkit-animation: a1 6s infinite;
          animation: a1 6s infinite;
}

.brand:nth-child(7) {
  background-image: url(/images/rollhouse.svg?6da774649d5bffd0bb5cddc34a9fce05);
  -webkit-animation: a1 4s infinite;
          animation: a1 4s infinite;
}

.brand:nth-child(8) {
  background-image: url(/images/ilikesushi.png?7518185c46b065b96c5bf8a483499259);
  -webkit-animation: a1 6s infinite;
          animation: a1 6s infinite;
}

.brand:nth-child(9) {
  background-image: url(/images/foodmiles.png?764bcbacfbf707479efcbbced3ad7fec);
  -webkit-animation: a1 7s infinite;
          animation: a1 7s infinite;
}

.brand:nth-child(10) {
  background-image: url(/images/sushimaster.svg?ff4d7de94acf63189ac7ec56d63ccb0f);
  -webkit-animation: a1 5s infinite;
          animation: a1 5s infinite;
}

.brand:nth-child(11) {
  background-image: url(/images/sushiya.png?177392024ca8e3d5bf9fec22e75cb2d7);
  -webkit-animation: a1 6s infinite;
          animation: a1 6s infinite;
}

@media screen and (max-width: 630px) {
  .brand {
    width: 100px;
    height: 100px;
    margin: 30px;
  }
}

@media screen and (max-width: 420px) {
  .brand {
    width: 80px;
    height: 80px;
    margin: 20px;
  }
}

@-webkit-keyframes a1 {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
  }
}

@keyframes a1 {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
  }
}

.d-flex {
  display: -ms-flexbox !important;
  display: -webkit-box !important;
  display: flex !important;
}

.justify-content-center {
  -ms-flex-pack: center;
  -webkit-box-pack: center;
          justify-content: center;
}

footer.page-footer {
  bottom: 0;
  color: #fff;
}

.font-small {
  font-size: 1.2rem;
}

.indigo {
  background-color: #3f51b5;
}

footer.page-footer .footer-copyright {
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.2);
  color: rgba(255, 255, 255, 0.6);
}

.pt-5,
.py-5 {
  padding-top: 3rem;
}

.mb-3,
.my-3 {
  margin-bottom: 1rem;
}

.font-weight-bold {
  font-weight: 700;
}

footer.page-footer .footer-copyright {
  font-size: 1.2rem;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.2);
  color: rgba(255, 255, 255, 0.6);
}

footer.page-footer a {
  color: #fff;
}

.pb-3,
.py-3 {
  padding-bottom: 1rem;
}

.pt-3,
.py-3 {
  padding-top: 1rem;
}

#contacts {
  /*---------------------------------------------*/
  /*---------------------------------------------*/
  /*==================================================================
  [ Form ]*/
  /*------------------------------------------------------------------
  [ Input ]*/
  /*---------------------------------------------*/
  /*------------------------------------------------------------------
  [ Button ]*/
  /*------------------------------------------------------------------
  [ Responsive ]*/
  /*------------------------------------------------------------------
  [ Alert validate ]*/
}

#contacts input {
  outline: none;
  border: none;
}

#contacts textarea {
  outline: none;
  border: none;
}

#contacts textarea:focus,
#contacts input:focus {
  border-color: transparent !important;
}

#contacts input::-webkit-input-placeholder {
  color: #555555;
  color: rgba(255, 255, 255, 0.6);
}

#contacts input:-moz-placeholder {
  color: #555555;
  color: rgba(255, 255, 255, 0.6);
}

#contacts input::-moz-placeholder {
  color: #555555;
  color: rgba(255, 255, 255, 0.6);
}

#contacts input:-ms-input-placeholder {
  color: #555555;
  color: rgba(255, 255, 255, 0.6);
}

#contacts textarea::-webkit-input-placeholder {
  color: #555555;
  color: rgba(255, 255, 255, 0.6);
}

#contacts textarea:-moz-placeholder {
  color: #555555;
  color: rgba(255, 255, 255, 0.6);
}

#contacts textarea::-moz-placeholder {
  color: #555555;
  color: rgba(255, 255, 255, 0.6);
}

#contacts textarea:-ms-input-placeholder {
  color: #555555;
  color: rgba(255, 255, 255, 0.6);
}

#contacts button {
  outline: none !important;
  border: none;
  background: transparent;
}

#contacts button:hover {
  cursor: pointer;
}

#contacts .container {
  max-width: 1200px;
}

#contacts .contact100-form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 68px;
}

#contacts .contact100-form-title {
  display: block;
  width: 100%;
  font-size: 39px;
  color: #fff;
  line-height: 1.2;
  text-align: left;
  padding-bottom: 44px;
}

#contacts .wrap-input100 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #d9d9d9;
  padding-bottom: 13px;
  margin-bottom: 65px;
}

#contacts .rs1-wrap-input100 {
  width: calc((100% - 30px) / 2);
}

#contacts .label-input100 {
  font-size: 15px;
  color: #fcf8e3;
  line-height: 1.5;
  padding-left: 5px;
}

#contacts .input100 {
  display: block;
  width: 100%;
  background: transparent;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.2;
  padding: 0 5px;
}

#contacts .focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

#contacts .focus-input100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  background: #ff4b5a;
}

#contacts input.input100 {
  height: 40px;
}

#contacts textarea.input100 {
  min-height: 110px;
  padding-top: 9px;
  padding-bottom: 13px;
}

#contacts .input100:focus + .focus-input100::before {
  width: 100%;
}

#contacts .has-val.input100 + .focus-input100::before {
  width: 100%;
}

#contacts .container-contact100-form-btn {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -25px;
}

#contacts .contact100-form-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  min-width: 160px;
  height: 50px;
  background-color: #ff4b5a;
  border-radius: 25px;
  position: relative;
  font-size: 16px;
  color: #fff;
  line-height: 1.2;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  box-shadow: 0 10px 30px 0px rgba(255, 75, 90, 0.5);
  -moz-box-shadow: 0 10px 30px 0px rgba(255, 75, 90, 0.5);
  -webkit-box-shadow: 0 10px 30px 0px rgba(255, 75, 90, 0.5);
  -o-box-shadow: 0 10px 30px 0px rgba(255, 75, 90, 0.5);
  -ms-box-shadow: 0 10px 30px 0px rgba(255, 75, 90, 0.5);
}

#contacts .contact100-form-btn i {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

#contacts .contact100-form-btn:hover {
  background-color: #333333;
  box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
  -moz-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
  -webkit-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
  -o-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
  -ms-box-shadow: 0 10px 30px 0px rgba(51, 51, 51, 0.5);
}

#contacts .contact100-form-btn:hover i {
  -webkit-transform: translateX(10px);
  transform: translateX(10px);
}

@media (max-width: 768px) {
  #contacts .rs1-wrap-input100 {
    width: 100%;
  }
}

#contacts .validate-input {
  position: relative;
}

#contacts .alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  top: 58%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 2px;
  pointer-events: none;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

#contacts .alert-validate::after {
  content: "!";
  display: block;
  background-color: #ccc;
  border-radius: 20px;
  padding: 0 9px;
  position: absolute;
  color: #c80000;
  font-size: 16px;
  top: 58%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 4px;
}

#contacts .alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  #contacts .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}

.contact100-form-btn.loading {
  border-radius: 50px;
  width: 50px;
  font-size: 0px;
}

.spinner {
  display: block;
  width: 34px;
  height: 34px;
  position: absolute;
  top: 8px;
  margin: 0 auto;
  left: 0;
  right: 0;
  background: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-top: 4px solid white;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-radius: 100%;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
  -webkit-animation: spin 0.6s ease-out infinite;
          animation: spin 0.6s ease-out infinite;
  -webkit-transition: all ease 0.5s;
  transition: all ease 0.5s;
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(/fonts/Roboto-Regular.ttf?3e1af3ef546b9e6ecef9f3ba197bf7d2) format("truetype");
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  background: transparent;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ol,
ul {
  list-style: none;
}

:focus {
  outline: 0;
}

.clear {
  clear: both;
  line-height: 0;
  font-size: 0;
}

.clearfix:after {
  clear: both;
  content: '.';
  display: block;
  visibility: hidden;
  height: 0;
}

.clearfix:after .test {
  color: red;
}

.clearfix {
  display: inline-block;
}

* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

header,
nav,
section,
article,
aside,
footer {
  display: block;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

.block-header {
  margin-bottom: 8vh;
}

.block-header-title {
  text-transform: uppercase;
  font-family: Helvetica;
  font-size: 50px;
  color: #4A4A4A;
  letter-spacing: 2.5px;
  line-height: 50px;
  text-align: center;
}

.block-header-dot {
  height: 32px;
  width: 32px;
  background: #D8D8D8;
  border-radius: 50%;
}

.block-header-description {
  font-size: 16px;
  color: #4A4A4A;
  letter-spacing: 0;
  line-height: 25px;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.mb-none {
  margin-bottom: 0;
}

.mb-xs {
  margin-bottom: 5px;
}

.mb-sm {
  margin-bottom: 10px;
}

.mb-md {
  margin-bottom: 15px;
}

.mt-xs {
  margin-top: 5px;
}

.mt-none {
  margin-top: 0;
}

.w-full {
  width: 100%;
}

.h-full {
  height: 100%;
}

.max-w-120 {
  max-width: 120px;
}

